frontend/
notebook/
reference/
docs/
outputs/
.venv/
__pycache__/
*.pyc
.env
mlruns/
mlflow.db
requirements.txt
app.py
*.ipynb
.git/
.gitignore
data/processed/preprocessed_data.pkl
data/raw/
node_modules/
package.json
package-lock.json
